/* universal style for html padding issues */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* root variable colors */
:root {
  --primary-color: rgb(198, 199, 218);
  --secondary-color: rgb(215, 207, 120);
  --tertiary-color: rgb(30, 2, 38);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: (var(--primary-color));
}

nav a:hover {
  color: var(--secondary-color);
  text-shadow: 5px, 5px, whitesmoke;
  text-decoration: underline;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header {
  height: 250px;
  background-image: url("../images/banner.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#aboutme-img {
  border-radius: 50%;
  width: 20%;
  height: auto;
}

#about-me {
  display: flex;
}

#about-me h2 {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  border-right: 3px solid var(--tertiary-color);
  margin-right: 60px;
}

#aboutme-body {
  display: flex;
}

.aboutme-text {
  font-size: 1.55vw;
}
