/* universal style for html padding issues */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* root variable colors */
:root {
  --primary-color: rgb(198, 199, 218);
  --secondary-color: rgb(215, 207, 120);
  --tertiary-color: rgb(30, 2, 38);
}

/* nav and banner img */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

nav a {
  text-decoration: none;
  color: (var(--primary-color));
}

nav a:hover {
  color: var(--secondary-color);
  text-shadow: 5px, 5px, whitesmoke;
  text-decoration: underline;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header {
  height: 250px;
  background-image: url("../images/banner.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* end header/banner section */
section {
  padding: 40px;
}

.main-section {
  display: flex;
  margin: 25px 30px;
}

.main-section h2 {
  display: flex;
  justify-content: flex-end;
  width: 13%;
  height: auto;
  border-right: 4px solid var(--tertiary-color);
  margin-right: 25px;
  padding-right: 20px;
}

#aboutme-img {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-height: 200px;
  margin: 20px;
}

#aboutme-body {
  display: flex;
  margin: auto;
  padding: 20px;
  width: 100%;
}

#aboutme-text {
  font-size: 1.55em;
}

#projects-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.flex-row {
  display: flex;
}
.project-img {
  display: block;
  border: 5px solid var(--secondary-color);
  width: 100%;
  height: auto;
}
#contact-body {
  display: flex;
  margin: auto;
  padding: 20px;
  width: 100%;
  justify-content: space-around;
}
/* hover styles for later */
/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--primary-color);
}

.project-img:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--tertiary-color);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
